h1{
    color:#EFEFEF
}

.navbar {
    background-color: #6A97F2;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: #386FA4;
}
#jumboDiv{
    background-image:
            linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
            ),
            url('https://i.pinimg.com/originals/11/b6/76/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');
}

#submitButton{
    display:block;
    float:left;
}