*{box-sizing: border-box;}
html,body{
    height:100%
}

body {font-family: 'Playfair Display', serif; background: rgb(243, 248, 253);}
#formTitle{color:aliceblue;}

.navbar {
    background-color: #6a97f2;
    vertical-align: center;
}
#bpcText{bottom:2px}
.navbar-brand:hover {color: #386Fa4;}
#jumboDiv{
    background-image:
            linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
            url('https://i.pinimg.com/originals/11/b6/76/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');
    border-radius: 0 !important;
}
#submitButton{display:block; float:left;}
#jumboForm{display: inline-block; text-align:center;justify-content:center !important;}
#formTitle{text-align:center;}
#resultsBody{background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url('https://i.pinimg.com/originals/11/b6/76/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');}
#resultContainer{
    width:70%;
    height:auto;
    background: rgb(243, 248, 253);
}
/* Progress Bar */
#title-percent-count{
    height: 60px;
    font-size: 38px; color: black;
}
#title-progress-bar {
    width: 75%;
    height: 26px;
    background-color: #bbb;
    border-radius: 13px;
    padding: 3px;
    display:inline-block
}
  
#title-progress {
    width: 15%;
    height: 20px;
    border-radius:10px;
    background-color: darkturquoise;
}
#content-percent-count{
    height: 60px;
    font-size: 38px; color: black;
}
#content-progress-bar {
    width: 75%;
    height: 26px;
    background-color: #bbb;
    border-radius: 13px;
    padding: 3px;
    display:inline-block
}
  
#content-progress {
    width: 15%;
    height: 20px;
    border-radius:10px;
    background-color: darkturquoise;
}

