*{box-sizing: border-box;}

body {font-family: 'Playfair Display', serif; background: rgb(243, 248, 253)}
#resultsBody{background:#c4c3c0;}

.navbar {
    background-color: #6a97f2;
    vertical-align: center;
}
#bpcText{bottom:2px}
.navbar-brand:hover {color: #386Fa4;}
#jumboDiv{
    background-image:
            linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
            url('https://i.pinimg.com/originals/11/b6/76/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');
    border-radius: 0 !important;
}
#submitButton{display:block; float:left;}
#jumboForm{display: inline-block; text-align:center;justify-content:center !important;}
#formTitle{text-align:center;}

/* Progress Bar */
#percent-count{
    height: 60px;
    font-size: 38px; color: black;
}
#progress-bar {
    width: 75%;
    height: 26px;
    background-color: #bbb;
    border-radius: 13px;
    padding: 3px;
    display:inline-block
}
  
#progress {
    width: 70%;
    height: 20px;
    border-radius:10px;
    background-color: darkturquoise;
}
#resultContainer{
    width:70%;
    background:white;
}
